.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

nav{
    background: transparent;
    height: 50px;
}

ul{
    margin: 0;
}

header{
    background: rgba(0, 0, 0, 0.3);
}

#banner{
    background: transparent;
    height: 700px;
}

nav ul{
    list-style: none;
    margin: 0;
    float: right;
}

nav ul li, nav .logo{
    display: inline-block;
    line-height: 50px;
    margin-right: 20px;
}

nav ul li a{
    line-height: inherit;
    text-decoration: none;
    display: inline-block;
    height: inherit;
    color: #fff;
}

nav .logo{
    float: left;
    padding-left: 10px;
}

.fa-home:before {
    content: "\f015";
    color: aliceblue;
}

nav .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 28px;
}

#banner .inner{
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 200px;
    color: #fff;
}

#banner .inner h1{
    margin: 0;
}

#banner .inner p{
    margin-bottom: 30px;
}

#banner .inner .more{
    margin-top: 140px;
}

#banner .inner .fa-angle-double-down{
    font-size: 48px;
    margin: 10px;
}

.fa-heart:before {
    content: "\f004";
    font-size: 77px;
    color: #ed93b1;
}

.sub-heading{
    line-height: 25px;
    margin: 20px 0;
}

button{
    border: 0;
    background: rgba(124, 132, 121, 0.753);
    color: #eee;
    padding: 10px;
    border-radius: 5px;
}

#banner button{
    padding: 13px 23px;
}

.logo{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 550;
}

header{
    margin-bottom: -25px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 24px;
}

p{
    font-size: 18px;
    letter-spacing: 1px;
}

.hr{
    width: 100%;
    height: 2px;
    margin: 20px auto;
}

.sub-heading{
    font-size: 19px;
}

.green-section{
    text-align: center;
    background: #8990b5;
    color: #fff;
}

.green-section .hr{
    width: 60%;
    background: #4152b1
}

.green-section .icon-group{
    margin-top: 100px;
}

.green-section .icon-group .icon{
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #98a0cf;
    transform: rotate(45deg);
    margin: 20px;
    padding: 10px;
}

.wrapper{
    max-width: 1080px;
    margin: 0 auto;
    padding: 100px 0;
}

.wrapper .hr{
    margin: 20px auto;
}

.gray-section{
    background: #24241d;
    color: #fff;
}

.gray-section .img-section{
    width: 45%;
}

.img-section img{
    width: 100%;
}

.article-preview > div{
    float: left;
    font-size: 0;
}
.article-preview:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.05);
}
.article-preview::after{
    content: '';
    display: block;
    clear: both;
}

.gray-section .text-section{
    width: 50%;
    /*float: right; 使用右浮动会超出
    屏幕范围？ */ 
}

.text-section{
    position: relative;
    top: 60px;
    left: 50px;
}

.text-section h2{
    margin-bottom: 25px;
}

.text-section p{
    font-size: 18px;
    letter-spacing: 1px;
}

.text-section .sub-heading{
    font-size: 22px;
    margin-top: 0;
}

.text-section > *{
    max-width: 90%;
}

.purple-section{
    background: rgb(87, 87, 133);
    color: #fff;
    
}

.purple-section .heading-wrapper{
    text-align: center;
}

.purple-section .hr{
    background:  rgb(48, 97, 189);
    width: 60%;
}

.card{
    float: left;
    width: 50%;
    min-height: 300px;
    padding: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid white;
}

.card:first-child{
    background: rgba(0, 0, 0, 0.05);
}

.card:nth-child(2){
    background: rgba(0, 0, 0, 0.1);
}

.card:nth-child(3){
    background: rgba(0, 0, 0, 0.15);
}

.card:nth-child(4){
    background: rgba(0, 0, 0, 0.2);
}

footer{
    background: #24241d;
    color: white;
    min-height: 210px;
    text-align: center;
}

ul.share-group{
    display: block;
    width: 1080px;
    margin: 0 auto;
    padding: 50px;
}

.share-group li{
    display: inline-block;
    padding: 20px;
}

.copy{
    margin-bottom: 20px;
}

.main-wrapper{
    background: #444 url(../img/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}